<!-- Clients Aside -->
    <aside class="submission">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="downloads/firmwares.magnet" download>>
                        <img src="img/logos/fws.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="downloads/yara_rules.txt" download>>
                        <img src="img/logos/yara.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
